@model StoryPlace.DataLayer.BusinessObjects.Entities.Story

@*
<div class="storyThumbnail">
    
    <span></span>

    //@Html.ActionLink(Model.Title, "Detail", "Story")
    @Html.ActionLink("Edit", "Edit", "Story",new {
        id=Model.ID
    
    },null)

</div>
*@


<div class="col-md-4">
    <h2>@Model.Title</h2>

    <p>
        @Html.ActionLink("Edit", "Edit", "Story", new {id = Model.ID}, new {@class = "btn btn-default"})

    </p>
    <p>
        @Html.ActionLink("Detail", "Detail", "Story", new { id = Model.ID }, new { @class = "btn btn-default" })

    </p>
</div>
